DB_DRIVER=ODBC Driver 18 for SQL Server
DB_NAME=COLEGIO_TESTE
DB_HOST=127.0.0.1
DB_PORT=1433

# Preencha com suas credenciais locais do SQL Server.
DB_USER=seu_usuario_sql_server
DB_PASS=sua_senha_sql_server
